{% load feedback_tags %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}feedback/css/feedback.css" />

        <script type="text/javascript" src="{{ STATIC_URL }}feedback/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}feedback/js/feedback.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="min-height:1400px">
        Please login to see feedback in action !
        <form action="/accounts/login/" method="post">
            {% csrf_token %}
            <label>Username :</label><input type="text" value="john" name="username"/>
            <label>Password :</label><input type="password" value="doe" name="password"/>
            <input type="submit" value="Submit"/>
        </form>
        <p>Visit the <a href="{% url admin:index %}">Admin interface</a></p>
    </body>
    {% if user.is_authenticated %}
        {% feedback %}
    {% endif %}
</html>
